@page
@model azure_app_david_rider.Pages.DeploymentSlots

@{
    ViewData["Title"] = "Deployment Slots page";
}

<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h3>Validating Deployment Slots</h3>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>